p For now, we require a user account to participate.  If you'd like to change this, look at <a href="https://github.com/martindale/converse/pull/7">martindale/converse#7</a>.
.ui.right.floated.buttons
  a.ui.button(href="/sessions") I already have an account, take me to login.
  .or
  a.ui.submit.button.primary(href="/people")
    i.user.icon
    | Register New Account &raquo;
