- if (!item && comment) {
-   var item = comment;
-   var context = 'comment';
- }
- if (!item && post) {
-   var item = post;
-   var context = 'post';
- }

.left.floated(style="width: 3em; text-align: center;")
  .ui.mini.statistic
    a.label
      i.chevron.up.icon
    .value(style="font-size: 1em;") #{item && item.score || 0}
    a.label
      i.chevron.down.icon
