extends layouts/default

block content
  .ui.cards
    include partials/post-list

    .ui.fluid.card
      .content
        if (user)
          h3 New Post
          include forms/new-post
        else
          p For now, we require a user account to participate.
          include forms/register
