extends ../node_modules/maki/views/layouts/default

block content
  style.
    .ui.cards .card {
      width: 100%;
    }

  h1 People
  p We haven't decided what we want to put here yet.
  
  if (!user)
    h2#register Register
    .ui.cards
      .card
        .content
          include forms/register
