extends layouts/default

block content
  .ui.padded.grid
    .row
      .four.wide.column
        .ui.card
          .ui.centered.image
            if person.image
              img(src="/files/#{person.image}")
            else
              i.massive.user.icon
          .content
            a.header #{person.username}
            .meta
            .description #{person.bio}

      .twelve.wide.column
        
        .ui.top.attached.tabular.menu
          .active.item(data-tab="posts") Recent Posts
          .item(data-tab="saves") Saves
        
        .ui.bottom.attached.active.tab.segment(data-tab="posts")
          include partials/post-list

        .ui.bottom.attached.tab.segment(data-tab="saves")
          for save in saves
            +PostView(save, 20)
