extends layouts/default

block content
  .ui.padded.grid
    .row
      .four.wide.column
        .ui.card
          .ui.centered.image
            if person.image
              img(src="/files/#{person.image}")
            else
              i.massive.user.icon
          .content
            a.header #{person.username}
            .meta
            .description #{person.bio}

      .twelve.wide.column
        h3 Recent Posts
        
        .ui.cards
          include partials/post-list
