extends layouts/default

block content
  .ui.padded.grid
    .row
      .four.wide.column
        .ui.card
          .image
            if person.image
              img(src="/files/#{person.image}")
            else
              img(src="/img/default.jpg")
          .content
            a.header #{person.username}
            .meta
            .description #{person.bio}

      .twelve.wide.column
