extends ../node_modules/maki/views/layouts/default

block content
  style.

  .ui.cards
    include partials/post-list

    .ui.fluid.card
      .content
        if (user)
          h3 New Post
          form.ui.form(action="/posts", method="post")
            input(type="hidden", name="_author", value="#{user._id}")
            .field
              label Title
              input(type="text", name="name")
            .field
              label Content
              textarea(name="description")
            .field
              label Link
              input(type="text", name="link")
            .right.floated
              button.ui.submit.button Create Post &raquo;
        else
          p For now, we require a user account to participate.
          include forms/register
