    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Datt</h2>
                <p>Datt is a social media application where the users own their content and pay each other for quality content, moderation, and hosting. It does not depend on a central organization has no central point of failure.</p>
                <p>Datt stands for "decentralize all the things."</p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Goal</h2>
                <p>To prove the feasibility of a P2P publishing market where content ownership remains with the author and moderation choice remains with the user.</p>
            </div>
        </div>
    </section>
