    <!-- FAQ Section -->
    <section id="faq" class="content-section text-center">
        <div class="faq-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>FAQ</h2>
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                              Why is Datt peer-to-peer?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            It's important that content published to Datt can be distributed widely and freely without a central organisation having control. While it would be easier to centralize or federate content between servers, this would not achieve our goals.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                              Do I need to install anything?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                            No. The basic Datt client will run as a web app in your browser. We expect mobile apps and advanced clients will be developed at a later stage.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                              How will users have choice over content moderation?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                            Users can apply their own content filters, or subscribe to collectives where moderators have curated content. Users can select as little or as many collectives to filter the content you most want to see.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                              Other than freedom of speech, what are the benefits of using Datt over all the other existing platforms?
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                          <div class="panel-body">
                            We've worked out a model that benefits everyone who participates on the network - Authors, Moderators, Node Operators, and Commenters can all benefit from Bitcoin micropayments. We'll announce more on this soon.
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>Find out more in the <a href="https://github.com/dattnetwork/dattdocs" title="Datt Docs">Datt Documentation</a>
            </div>
        </div>
    </section>
