    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="brand-logo" src="{{ "/img/logo_dark.png" | prepend: site.baseurl }}" title="Datt logo" />
                        <h1 class="brand-heading">Datt</h1>
                        <p class="intro-text">Decentralize all the things</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
