<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'DATT' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li>{{link-to 'collectives' 'collectives'}}</li>
        <li>{{#link-to 'balance'}}balance (0.0112){{/link-to}}</li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
      </ul>
    </div>
  </div>
</div>

<div id='maincontainer' class='container'>{{outlet}}</div>

<footer id='footer'>
</footer>
{{outlet 'modal'}}
