if (typeof(flash) != 'undefined')
  .messages
    if (typeof(flash.error) != 'undefined')
      for error in flash.error
        .alert.alert-error.alert-dismissable
          button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
          | !{error}
    if (typeof(flash.info) != 'undefined')
      for info in flash.info
        .alert.alert-info.alert-dismissable
          button.close(type="button", data-dismiss="alert") &times;
          | !{info}