html, body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #4c4c4c;
	background: #FFF;
	background: url(../images/sidebar_bg.png) repeat-y right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*Header Styles*/
/*------------------------------------------------*/

#header {
	width: 100%;
	height: 80px;
	background: #FFF;
	border-bottom: 1px solid #e8e8e8;
	position: absolute;
	overflow: hidden;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.arrow {
	margin-left: 5px;
}

.logo {
	float: left;
	height: 80px;
	margin: 25px 35px;
}

.menu {
	font-size: 13px;
	font-weight: 600;
}

.menu > li {
	float: left;
	margin: 30px 40px 0 0;
}

#selected {
	border-bottom: 2px solid #404040;
	padding-bottom: 0;
}

#selected a {
	color: #4c4c4c;
	text-decoration: none;
	height: 49px;
	display: block;
}

.balance {
	font-size: 13px;
	color: #4c4c4c;
	font-weight: 400;
	margin-left: 10px;
}

.icons {
	float: right;
	height: 18px;
	margin: 32px 35px 0 0;
}

.icons > li {
	margin-left: 15px;
	float: right;
}

#menu_hidden {
	width: 100%;
	float: left;
	position: absolute;
	display: block;
	height: 34px;
	margin-top: 46px;
	padding-left: 10px;
	transition-duration: 0.2s;
	transition-delay: 0.4s;
	z-index: -1;
	border-bottom: 1px solid #e8e8e8;
	background: #FFF;
	overflow: hidden;
}

.search_bar {
	position: absolute;
	right: 62px;
	margin-top: 25px;
	width: 0px;
	height: 30px;
	display: block;
	border-radius: 30px;
	border: 1px solid #e8e8e8;
	transition-duration: 0.3s;
	opacity: 0;
}

#header:hover .search_bar {
	opacity: 1;
	width: 272px;
}

#header:hover .search_input {
	opacity: 1;
}

.search_input {
	opacity: 0;
	background: rgba(0,0,0,0);
	border: 0;
	color: #000;
	font-size: 13px;
	color: #A8A8A8;
	font-weight: 300;
	width: 240px;
	margin: 5px 0 0 10px;
}

#header:hover #menu_hidden {
	margin-top: 81px;
	background: #FFF;
}

.hidden > li {
	float: left;
	margin:8px 15px 0 0;
	padding:0;
	font-size: 11px;
	color: #404040;
	text-transform: uppercase;
	overflow: hidden;
	white-space:nowrap;
}

.more {
	right: 20px;
	position: absolute;
	text-align: right;
	margin:8px 0 0 0;
	padding:0;
	padding-left: 20px;
	font-weight: 600;
	color: #404040;
	background: #FFF;
	font-size: 11px;
	text-transform: uppercase;
}

/*#header:hover #selected:hover + #menu_hidden {
	margin-top: 80px;
	background: #FFF;
}
*/

/*Main Content*/
/*------------------------------------------------*/

.message {
	width: 700px;
	float: left;
	margin-left: 98px;
	position: absolute;
	z-index: -210;
}

.content {
	width: 100%;
	float: left;
}

#leftwrap {
	margin-right: 340px;
}

#left {
	
	padding: 0 100px;
	/*background: gray;*/
	display: block;
}

#right {
    width: 340px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 81px;
}


/*Sidebar Styles*/
/*------------------------------------------------*/

.sidebar_title {
	font-size: 15px;
	font-weight: 600;
	color: #434343;
	margin: 25px 30px;
	display: block;
}

.sidebar_text {
	font-size: 13px;
	color: #757575;
	margin: 0 30px;
	display: block;
	line-height: 20px;
}

line {
	width: 280px;
	height: 1px;
	display: block;
	magin: auto;
	background: #e4e4e4;
	margin: 30px;
}


/*Homepage List*/
/*------------------------------------------------*/

.thumbnail {
	width: 60px;
	height: 44px;
	border-radius: 2px;
	float: left;
	margin-right: 12px;
}

.list {
	display: block;
	margin: 30px 0 0 0;
}

.list_item {
	height: 44px;
	display: block;
	margin-bottom: 20px;
}

.points_active {
	height: 8px;
	width: 8px;
	border-radius: 10px;
	background: #404040;
	display: block;
	float: left;
	margin-top: 18px;
	margin-left: -55px;
}

.points_inactive {
	height: 5px;
	width: 5px;
	border-radius: 10px;
	background: #DDD;
	display: block;
	float: left;
	margin-top: 18px;
	margin-left: -53px;
}

.link_title {
	font-size: 14px;
	color: #303030;
	font-weight: 600;
	padding: 0;
	float: left;
	margin-top: 2px;
}

.link_sub {
	font-size: 11px;
	color: #848484;
	text-transform: uppercase;
	padding: -5px 0 0 0;
	float: left;
}