extends layouts/datt

block content
  #menu
    img(src='images/datt.svg')
    strong 
      a(href='#datt') Datt
    .menu
      a(href='#about') About
      a(href='#press') Press
      a(href='#faq') FAQ
      a(href='#connect') Connect
  .screen.hero#datt
    .cell
      img#datt(src='images/datt.svg')
      h1
       | A community with great content,
       br
       | where people get paid for their work.
    
  .screen#about
    .cell
      h2 About Datt
      p Datt is a community where people view great content and pay the creators, and people post great content and get paid for their creations.
      p The business model of Datt is to take a portion of payments between users rather than displaying advertisements, which better aligns the incentives of the company with the interests of the users.
      p Our goal is to empower users to find the best content, to properly own their content, and to get paid for the value they produce.
  
  .screen#press
    .cell
      h2 PRESS
      .links
        .break
          a(target="_blank" href="http://www.wired.com/2015/07/reddit-blockchain-decentralized-internet/") Wired 
        .break
          a(target="_blank" href="http://recode.net/2015/07/05/fred-wilson-the-next-reddit-will-likely-be-built-on-the-bitcoin-blockchain/") re/code
        .break
          a(target="_blank" href="http://thenextweb.com/insider/2015/07/06/reddit-came-close-to-becoming-decentralized-last-year/") The Next Web
        .break
          a(target="_blank" href="http://www.businessinsider.com/fred-wilson-blockchain-reddit-openbazaar-uncensorable-2015-7") Business Insider
        .break
          a(target="_blank" href="http://www.coindesk.com/datt-decentralized-reddit-bitcoin/") CoinDesk
        .break
          a(target="_blank" href="https://www.zapchain.com/a/1GVIzt8bnL") ZapChain
        .break
          a(target="_blank" href="http://moneyandtech.com/ryan-x-charles-reddit/") Money & Tech
        .break
          a(target="_blank" href="http://www.coinspeaker.com/2015/07/14/the-blockchain-is-a-huge-opportunity-to-save-reddit-community-says-ryan-x-charles-10683/") Coinspeaker
        .break
          a(target="_blank" href="http://www.miningpool.co.uk/interview-with-former-reddit-cryptocurrency-engineer-ryan-x-charles/") Mining Pool
        .break
          a(target="_blank" href="http://cointelegraph.com/news/114785/ryan-x-charles-is-building-a-decentralized-reddit-and-would-love-collaborators") Coin Telegraph
        .break
          a(target="_blank" href="https://www.cryptocoinsnews.com/former-reddit-cryptocurrency-engineer-decentralization-future/") Cryptocoins News
        .break
          a(target="_blank" href="https://hacked.com/angered-redditgate-users-want-decentralized-alternative-reddit/") Hacked
  
  .screen#faq
    .cell
      h2 Frequently Asked Questions
      .question
        span Why is Datt better than reddit, Twitter, or Facebook?
        .answer
          p Datt has better content, you get paid for the work that you do, and you don't have to view targeted advertisements or give up your privacy.
      .question 
        span How do I get paid?
        .answer
          p Users pay each other bitcoin for creating content. The company and users take a portion of payments for work such as hosting or moderating content.
      .question
        span Why is Datt Decentralized?
        .answer
          p Users should own their content and shouldn't have to view advertisements or sell their privacy to use an app. By building on a decentralized protocol, our technology is aligned with our values.
      .question
        span Do I need to install anything?
        .answer
          p No, Datt runs in a web browser and can be used as easily as any web app. This is possible thanks to modern web technologies such as Web RTC, IndexedDB, and web workers.
      p Find out more detailed information in the 
        a(href="https://github.com/dattnetwork/dattdocs" target='_blank') Datt Documentation
    
  .screen#connect
    .cell
      h2 Get Connected
      p Connect with us if you're interested in using Datt.
      p We will send you a beta invite prior to launch.
      form#contact-form(action='http://formspree.io/ryanxcharles+dattform@gmail.com', method='POST')
        input.form-control.input-name(type='text', name='name', placeholder='Your Name')
        input#email.form-control.input-email(type='email', name='_replyto', placeholder='Your Email')
        input(type='hidden', name='_next', value='//datt.co')
        input(type='hidden', name='_subject', value='Datt beta request')
        input(type='hidden', name='_gotcha', style='display:none')
        input.btn.btn-default.btn-lg(type='submit', value='Send Me a Beta Invite')
        .contact-form-message &nbsp;
      p
        | Follow 
        a(href='http://blog.datt.co') our blog
        |  for progress updates.
      a.button(href='https://twitter.com/dattnetwork' target='_blank') 
        i.fa.fa-twitter
        | twitter
      a.button(href='https://github.com/dattnetwork' target='_blank') 
        i.fa.fa-github
        | github
      p Or join the Datt team on Slack to collaborate with us.
      iframe.__slackin(src='http://datt-slackin.herokuapp.com/iframe?large', style='border-width: 0px; width: 154px; height: 30px; visibility: visible;')
      p.footer
        small &copy; 2015 Datt
