form.ui.form(action="/posts", method="post")
  input(type="hidden", name="_author", value="#{user._id}")
  input(type="hidden", name="hashcash")
  .field
    label Link
    input(type="text", name="link", placeholder="http://...")
  .field.required
    label Title
    input(type="text", name="name", placeholder="e.g., \"TEST POST PLEASE IGNORE\"", required)
  .field
    label Content
    textarea(name="description", placeholder="Your thoughtful contribution.")
  .right.floated
    button.ui.submit.button.primary
      i.edit.icon
      | Create Post &raquo;
