form.ui.form(action="/posts", method="post")
  input(type="hidden", name="_author", value="#{user._id}")
  input(type="hidden", name="hashcash")
  .field
    label Link
    input(type="text", name="link", placeholder="http://...")
  .field.required
    label Title
    input(type="text", name="name", placeholder="e.g., \"TEST POST PLEASE IGNORE\"", required)
  .field
    label Content
    textarea(name="description", placeholder="Your thoughtful contribution.")
  .right.floated
    button.ui.submit.button.primary
      i.edit.icon
      | Create Post &raquo;

block append scripts
  script.
    String.prototype.hexEncode = function(){
      var hex, i;
      var result = '';
      for (i=0; i<this.length; i++) {
        hex = this.charCodeAt(i).toString(16);
        result += ('000'+hex).slice(-4);
      }
      return result;
    }

    $('form[action="/posts"][method=post]').submit(function(e) {
      e.preventDefault();
      
      $('form[action="/posts"][method=post]').addClass('loading');
      $('form[action="/posts"][method=post] .submit').html('working...');
      
      var data = $(self).form('get values');
      var cash = $('form[action="/posts"][method=post] input[name=hashcash]');
      var name = $('form[action="/posts"][method=post] input[name=name]');
      var input = name.val().hexEncode();

      var worker = new Worker('/js/worker.js');
      worker.onmessage = function(e) {
        console.log('work result:', e.data);
        var hash = e.data;
        cash.val(hash);
        
        data.hashcash = hash;
        data._author     = $('form[action="/posts"][method=post] input[name=_author]').val();
        data.link        = $('form[action="/posts"][method=post] input[name=link]').val();
        data.name        = $('form[action="/posts"][method=post] input[name=name]').val();
        data.description = $('form[action="/posts"][method=post] textarea[name=description]').val();
        
        $.post('/posts', data, function(post, status, xhr) {
          document.location.href = '/posts/' + post._id;
        }, 'json');
      }

      var difficulty = 3;
      worker.postMessage([ input , difficulty ]);

      return false;
    });
