form.ui.form(action="/people", method="post")
  .field
    label Username
    input(type="text", name="username")
  .field
    label Password
    input(type="password", name="password")
  .right.floated
    a.ui.button(href="/sessions") I already have an account, take me to login.
    button.ui.submit.button.primary Register New Account &raquo;
