extends layouts/default

block content
  h1 #{forum.name}

  h2 Topics
  ul.list-group
    for topic in topics
      include partials/topic-row

  if (user)
    h4 Create Topic
    form.form(action="/forums/#{forum.slug}/topics", method="POST")
      .form-group
        label(for="name") Topic Name
        input.form-control(type="text", name="name")
      .form-group
        label(for="description") Topic Description
        textarea.form-control(name="description")
      .form-group.pull-right
        input.btn(type="submit")
