extends layouts/default

block content
  h1 People
  p This is an example resource that queries from the database.

  ul
    each person in people
      li
        a(href="/people/#{person.slug}") #{person.username}
