extends layouts/default

block content
  h1 #{topic.name}
  p !{markdown(topic.description)}
  
  h2 Posts
  for post in posts
    include partials/post-row
    
  if (user)
    h4 Write Post
    form.form(action="/forums/#{forum.slug}/topics/#{topic.slug}/posts", method="POST")
      .form-group
        label(for="content")
        textarea.form-control(name="content")
      .form-group.pull-right
        input.btn(type="submit")
