<div class='row balance-page'>
  <div class='col-md-8'>
    <h2>
      Current Balance:
      <span class='amount pull-right'>0.0112 BTC</span>
    </h2>

    {{balance-transactions user="RYANXCHARLES"}}

  </div><div class='col-md-4'>
    <h4>Add Bitcoins</h4>
    <p>We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.</p>
    <br>
    {{btc-address address="1JBbuhbsnou187vsQX8M9xHX64HWCAEpJi"}}
    <hr>
    <h4>Withdraw Bitcoins</h4>
    <p>That to secure these rights, Governments are instituted among Men, deriving their just powers from the consent of the governed, — That whenever any Form of Government becomes destructive of these ends, it is the Right of the People to alter or to abolish it, and to institute new Government, laying its foundation on such principles and organizing its powers in such form, as to them shall seem most likely to effect their Safety and Happiness.</p>
  </div>
</div>
