doctype html
html(ng-app="maki")
  head
    title Converse

    link(rel="stylesheet", href="#{assets.url('/css/bootstrap.css')}")
    link(rel="stylesheet", href="#{assets.url('/css/font-awesome.css')}")
    link(rel="stylesheet", href="#{assets.url('/css/highlight/maki.css')}")
    link(rel="stylesheet", href="#{assets.url('/css/maki.css')}")

    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    //-script(src="/js/angular.js")
    //-script(src="/js/angular-route.js")
    //-script(src="/js/angular-resource.js")
    script(src="/js/templates.js")
    script(src="/js/highlight.pack.js")
    script(src="/js/headroom.min.js")
    
    script(src="/js/maki.js")

    base(href="/")

  body(ng-controller="mainController")
    block navbar
      include ../partials/navbar
    
    .container
      include ../partials/flash

      .content(ng-view)
        block content

    footer
      .container
        p
          small <a href="http://github.com/martindale/maki">Made</a> with care by <a href="http://www.ericmartindale.com/">Eric Martindale</a>.
          |  
          a(class="btn btn-default", href="bitcoin:1Ae7wguPTP8Zm3146opVhay4hUS7NiaxYw", alt="B") Donate 
            i.fa.fa-bitcoin
            | itcoin &raquo;
